<h1>Travels</h1>

<% @travels.each do |travel| %>
<!--ログインしているユーザーが自分のuser_idのページを見る時はログインユーザー権限のある操作ができるページに飛ぶ-->
  <!--<#% if user_signed_in? && current_user.id.to_s == params[:id] %>-->
    <!--投稿画像（travels#showへ遷移）-->
    <div>
      <!--各投稿へのリンク-->
      <%= link_to travel_path(travel.id) do %>
        <%= image_tag travel.get_image(300, 300) %>
      <% end %>
    </div>
    
    <!--投稿者名（users#showへ遷移）-->
    <div>
      <!--<#% if user_signed_in? && current_user.id.to_s == params[:id] %>-->
      <!--<#%= link_to mypage_path(current_user.id) do %>-->
      <!--ユーザーごとのマイページへ遷移-->
        <%= link_to user_path(travel.user.id) do %>
          <%= travel.user.nickname %>
        <% end %>
    </div>
    
    <!--投稿タイトル（travels#showへ遷移）-->
    <div>
      <%= link_to travel_path(travel.id) do %>
        <%= travel.title %>
      <% end %>
      <!--<span>♥ <%#= @travel.favorites.count %>いいね</span>-->
      <span>♥ <%= travel.favorites.count %>いいね！</span>
      <span><%= travel.comments.count %> コメント</span>
    </div>
    
    <!--投稿場所（県名）-->
<!--  <#% else %>-->
    <!--投稿画像（travels#showへ遷移）-->
<!--    <div>-->
<!--      <#%= link_to travel_path(@user.id) do %>-->
<!--        <#%= image_tag travel.get_image(300, 300) %>-->
<!--      <#% end %>-->
<!--    </div>-->
    
    <!--投稿者名（users#showへ遷移）-->
<!--    <div>-->
<!--      <#%= link_to mypage_path(@user.id) do %>-->
      <!--<#%= link_to "#" do %>-->
<!--        <#%= travel.user.nickname %>-->
<!--      <#% end %>-->
<!--    </div>-->
    
    <!--投稿タイトル（travels#showへ遷移）-->
<!--    <div>-->
<!--      <#%= link_to travel_path(@user.id) do %>-->
<!--        <#%= travel.title %>-->
<!--      <#% end %>-->
<!--    </div>-->
    
    <!--投稿場所（県名）-->
<!--  <#% end %>-->
<% end %>