<!--<h1>Public::Travels#index</h1>-->
<!--<p>Find me in app/views/public/travels/index.html.erb</p>-->
<h1>Travels</h1>

<% @travels.each do |travel| %>
<<<<<<< HEAD
<!--ログインしているユーザーが自分のuser_idのページを見る時はログインユーザー権限のある操作ができるページに飛ぶ-->
  <% if user_signed_in? && current_user.id.to_s == params[:id] %>
    <!--投稿画像（travels#showへ遷移）-->
    <div>
      <%= link_to travel_path(current_user.id) do %>
        <%= image_tag travel.get_image(300, 300) %>
      <% end %>
    </div>
    
    <!--投稿者名（users#showへ遷移）-->
    <div>
      <%= link_to mypage_path(current_user.id) do %>
      <!--<#%= link_to "#" do %>-->
        <%= travel.user.nickname %>
      <% end %>
    </div>
    
    <!--投稿タイトル（travels#showへ遷移）-->
    <div>
      <%= link_to travel_path(current_user.id) do %>
        <%= travel.title %>
      <% end %>
    </div>
    
    <!--投稿場所（県名）-->
  <% else %>
    <!--投稿画像（travels#showへ遷移）-->
    <div>
      <%= link_to travel_path(@user.id) do %>
        <%= image_tag travel.get_image(300, 300) %>
      <% end %>
    </div>
    
    <!--投稿者名（users#showへ遷移）-->
    <div>
      <%= link_to mypage_path(@user.id) do %>
      <!--<#%= link_to "#" do %>-->
        <%= travel.user.nickname %>
      <% end %>
    </div>
    
    <!--投稿タイトル（travels#showへ遷移）-->
    <div>
      <%= link_to travel_path(@user.id) do %>
        <%= travel.title %>
      <% end %>
    </div>
    
    <!--投稿場所（県名）-->
  <% end %>
<% end %>