<div class="row justify-content-center">
  <div class="col-8">

    <h1 class="text-center mb-5">Travels</h1>

    <!--<div class="row d-flex flex-column">-->
    <div class="row">
      <div class="col-5 mx-auto p-4" style="background-color:rgba(255, 255, 255, 0.5);">


      <% @travels.each_with_index do |travel, i| %>
      <!--<div class="col-5 mx-auto" style="height:400px;">-->
        <div class="travels-in-index <% if i != 0 %> pt-5 <% end %> <% if i != @travels.size - 1 %> pb-5 <% end %>" style=" <% if i != @travels.size - 1 %> border-bottom:1px solid #aaa; <% end %>" >  <!--最初の投稿には上padding無し、最後の投稿には下padding無し-->
            <div class="text-center">
              <!--各投稿へのリンク-->
              <%= link_to travel_path(travel.id) do %>
                <%= image_tag travel.get_image(700, 700), class: "w-100 mb-2" %>
              <% end %>
            </div>

            <!--投稿者名（users#showへ遷移）-->
            <div>
              <%= link_to user_path(travel.user.id) do %>
                <%= image_tag travel.user.get_profile_image(30, 30), class: "rounded-circle" %>
                <%= travel.user.nickname %>
              <% end %>
            </div>

            <!--投稿タイトル（travels#showへ遷移）-->
            <div>
              <%= link_to travel_path(travel.id) do %>
                <%= travel.title %>
              <% end %>
              <span><i class="far fa-star"></i> <%= travel.favorites.count %>いいね！</span>
              <span><%= travel.comments.count %> コメント</span>
            </div>
        </div>
      <!--</div>-->
      <% end %>
      <%= paginate @travels %>
      </div>
    </div>
  </div>
</div>