<h1>Let's Create Your New Travel!</h1>

<%= form_with model: @travel, url: travels_path, method: :post do |f| %>
  <div>
    <%= f.label :image, "画像" %></br>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :title, "投稿タイトル" %></br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body, "内容" %></br>
    <%= f.text_area :body %>
  </div>
  
  <%= f.submit "投稿する" %>
<% end %>