<div>
  <%= link_to travels_path do %>
    ← Go Back
  <% end %>
  <!--投稿タイトル-->
  <h1><%= @travel.title %></h1>
  <%= link_to travel_path, method: :delete, "data-confirm" => "投稿を削除します。よろしいですか？" do %>
    投稿を削除
  <% end %>
</div>


<!--写真-->
<div>
  <%= image_tag @travel.get_image(700, 700) %>
</div>

<!--投稿ユーザー(MyPageへのリンク付き)-->
<div>
  <%= link_to user_path(@travel.user.id) do %>
    <%= @travel.user.nickname %>
  <% end %>
</div>

<!--投稿内容-->
<div>
  <%= @travel.body %>
</div>

<!--地図情報-->