<h1>フォロー一覧</h1>

<% if @users.exists? %>  <!--@usersは、relationships#followingsにて定義したもの-->
  <% @users.each do |user| %>
    <table>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(100, 100) %></td> <!--プロフィール画像-->
          <td><%= user.nickname %></td>  <!--ニックネーム-->
          <td><%= user.introduction %></td>  <!--自己紹介文-->
          <td>フォロー：<%= user.follower.count %></td>  <!--フォロー数-->
          <td>フォロワー：<%= user.followed.count %></td>  <!--フォロワー数-->
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
