<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row justify-content-center">
        <h1>Profile Edit</h1>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-8">
          <%= form_with model: @user, url: user_path(current_user.id), method: :patch do |f| %>
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-6 d-flex justify-content-center align-self-center">
                  <%= f.label :profile_image, "プロフィール画像" %>
                </div>
                <div class="col-12 col-md-6 pr-5">
                  <% if current_user.email != 'guest@example.com' %>
                    <%= f.file_field :profile_image, accept: 'image/*' %>
                  <% else %>
                    ゲストユーザーは変更できません
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-md-6 d-flex justify-content-center align-self-center">
                  <%= f.label :nickname, "ニックネーム" %>
                </div>
                <div class="col-12 col-md-6 pr-5">
                  <% if current_user.email != 'guest@example.com' %>
                    <%= f.text_field :nickname, class: "form-control" %>
                  <% else %>
                    <%= @user.nickname %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row ">
                <!--  style="line-height:86px; font-weight:bold;" -->
                <div class="col-12 col-md-6 d-flex justify-content-center align-self-center">
                  <%= f.label :introduction, "自己紹介文" %>
                </div>
                <div class="col-12 col-md-6 pr-5">
                  <% if current_user.email != 'guest@example.com' %>
                    <%= f.text_area :introduction, rows: 3, class: "form-control" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-12 col-lg-6 text-center">
                  <%= link_to "退会する", unsubscribe_path, class: "btn btn-danger w-50" %>
                </div>
                <div class="col-12 col-lg-6 mt-3 mt-lg-0 text-center">
                  <% if current_user.email != "guest@example.com" %>
                    <%= f.submit "変更を保存する", class: "btn btn-success w-50" %>
                  <% else %>
                    <button class="btn btn-success" disabled>変更を保存する</button>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>