<h1>いいね！一覧</h1>

<% @favorite_travels.each do |travel| %>
  <div>
    <%= link_to user_path(travel.user.id) do %>
      <%= image_tag travel.get_image(300, 300) %></br>
      <%= travel.user.nickname %>
    <% end %>
  </div>
  <div>
    <%= link_to travel_path(travel.id) do %>
      <%= travel.title %>
    <% end %>
  </div>
<% end %>