<h1>Profile</h1>

<!--ユーザー情報-->

<!--プロフィール画像-->

<!--ニックネーム表示-->
<p>Name</p>
<%= current_user.nickname %>

<!--自己紹介文表示(あれば)-->
<p>Introduction</p>
<% if current_user.introduction %>
  <%= current_user.introduction %>
<% end %>

<!--フォロー一覧(FontAwesomeでアイコン載せてもいいかも)-->
<%= link_to "#" do %>
  フォロー一覧
<% end %>

<!--フォロワー一覧(FontAwesomeでアイコン載せてもいいかも)-->
<%= link_to "#" do %>
  フォロワー一覧
<% end %>

<!--ユーザー情報編集(FontAwesomeでアイコン載せてもいいかも)-->
<%= link_to user_update_path do %>
  プロフィール編集
<% end %>

<!--以下ログイン中のユーザーの投稿一覧-->