<h1>Profile</h1>

<!--デバッグ用、後々消す-->
<% if user_signed_in? %>
  <% if @user.is_deleted? %>
    <p>退会</p>
  <% else %>
    <p>有効</p>
  <% end %>
<% end %>

  <!--ユーザー情報-->
  <!--プロフィール画像-->
  <div>
    <%= image_tag @user.get_profile_image(500, 500), class: "rounded-circle" %>
  </div>
  
  <!--ニックネーム表示-->
  <div>
    <%= @user.nickname %>
  </div>
  
  <!--自己紹介文表示-->
  <div>
    <%= @user.introduction %>
  </div>
  
  
  
  
  <!--フォロー関係-->
  <% if user_signed_in? %>  <!--未ログイン、トップからのアクセスを禁じる-->
    <% if @user != current_user %>  <!--user/showのユーザーが自分(ログインユーザー)でなければ、フォローボタンの表示をしたい(自分自身をフォローするのは)-->
      <% if current_user.following?(@user) %>
        <%= link_to "フォローを外す", user_relationship_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
      <% end %>
    <% end %>
  <% end %>
  
  
  
  
  <!--フォロー一覧(FontAwesomeでアイコン載せてもいいかも)-->
  <div>
    <%= link_to user_followings_path(@user) do %>
      フォロー一覧
    <% end %>
  </div>
  
  <!--フォロワー一覧(FontAwesomeでアイコン載せてもいいかも)-->
  <div>
    <%= link_to user_followers_path(@user) do %>
      フォロワー一覧
    <% end %>
  </div>
  
  
  
  
  <!--いいね一覧-->
  <div>
    <%= link_to "いいね！一覧", favorites_user_path(@user) %>
  </div>
  
  
  
  
  <!--ユーザー情報編集(FontAwesomeでアイコン載せてもいいかも)-->
  <% if user_signed_in? %>  <!--未ログイン、トップページからのアクセスを禁じる-->
  <div>
    <% if @user.id == current_user.id %>  <!--ログインユーザー以外のユーザーマイページでユーザー情報編集のリンクを表示させない-->
      <%= link_to edit_user_path do %>
        プロフィール編集
      <% end %>
    <% end %>
  </div>
  <% end %>
  
  
  
  
  <!--以下ログイン中のユーザーの投稿一覧-->
  <h2>All of Travels</h2>
  
  <% @travels.each do |travel| %>
    <!--投稿写真-->
    <div>
      <%= link_to travel_path(travel.id) do %>
        <%= image_tag travel.get_image(300, 300) %></br>
      <!--投稿タイトル-->
      <%= travel.title %>
      <% end %>
    </div>
    
  <% end %>